resource_group_name = "pwc-microservices-rg"
location            = "West Europe"
acr_name            = "pwcmicroservicesacr"
aks_cluster_name    = "pwc-aks-cluster"
aks_node_count      = 2
aks_node_size       = "Standard_B2s"
kubernetes_version  = "1.28"

tags = {
  Environment = "Development"
  Project     = "PWC-Microservices"
  ManagedBy   = "Terraform"
}
